@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: rgb(24, 24, 27)
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.3s cubic-bezier(0.005, 0.05, 0.030, 1);
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

svg {
  fill: #f87171;
}

.done {
  opacity: 25%;
}

#app {
  min-height: 100vh;
}

#button-img {
  height: 32px;
  width: 32px;
}

#save-button {
  height: 96px;
  width: 96px;
}

@media (min-width:1025px) {
  #header {
    margin-bottom: 0;
    margin-top: 1rem;
    top: 0;
  }

  #task-list-container {
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
}