@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Cabin', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    color: rgba(255, 255, 255, 0.87);
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  svg {
    fill: #f87171;
  }
  
  .done {
    opacity: 25%;
  }
  
  #app {
    min-height: 100vh;
  }
  
  #button-img {
    height: 32px;
    width: 32px;
  }

  #save-button {
    height: 96px;
    width: 96px;
  }

  
  